# Extension to not take into account when synchronization between local server and remote server

test

# Avoid PDF, PPT
################
*.pdf
*.pptx


# Avoid DS_Store which are created by Mac
#########################################
.DS_Store
.DS_Store?
.Trashes
.Rhistory



# Avoid .err and .out from submission of .sh scripts
####################################################
*.err
*.out
